<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Two is for Joy - Drupal and Rails Web Development" %></title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Special+Elite" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header data-sticky-container role="banner" aria-label="Site Header">
      <div class="grid-x grid-margin-x sticky is-at-top is-anchored" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="cell hide-for-small-only medium-3 header__personal">
          <a href="/" class="header__logo"><%= image_tag "logo.png" %></a>
          <span class="header__personal-name">Erin McLaughlin</span>
        </div>

        <div class="cell align-center text-center small-10 medium-4">
          <%= link_to "Two is for Joy", root_path, class: "header__site-name" %>
        </div>

        <div class="title-bar small-2 cell show-for-small-only" data-responsive-toggle="main-nav">
          <button class="menu-icon" type="button" data-toggle="main-nav"></button>
        </div>

        <div class="cell small-12 medium-3 align-right">
          <nav id="main-nav" data-animate="slide-in-down slide-out-up">
            <ul class="menu expanded align–center vertical medium-horizontal" data-dropdown-menu>
              <li class="small-12 medium-4"><%= link_to "Blog", posts_path %></li>
              <li class="small-12 medium-4"><%= link_to "Projects", projects_path %></li>
              <li class="small-12 medium-4"><%= link_to "Contact", new_contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="hero expanded">
      <%= image_tag @hero_path, class: "hero__image" %>
    </div>

    <main class="small-11 medium-10" role="main">
      <%= yield %>
    </main>

    <footer class="small-11 medium-10" role="footer">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path %>
        <%= link_to "New Post", new_post_path %>
        <%= link_to "New Project", new_project_path %>
      <% end %>
    </footer>

  </body>
</html>
