<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Two is for Joy - Drupal and Rails Web Development" %></title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Special+Elite" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header data-sticky-container>
      <div class="row align-middle" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="column">
          <a href="#" class="header__logo"></a>
          <span class="header__personal">Erin McLaughlin</span>
        </div>

        <div class="column text-center">
          <%= link_to "Two is for Joy", root_path, class: "header__name" %>
        </div>

        <div class="column">
          <nav>
            <ul class="menu expanded text-right">
              <li><%= link_to "Blog", posts_path %></li>
              <li><%= link_to "Projects", projects_path %></li>
              <li><%= link_to "Contact", new_contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "New Post", new_post_path %>
        <%= link_to "New Project", new_project_path %>
      <% end %>
    </footer>

  </body>
</html>
